<div class="row">
    <div class="col-12">
        <table class="table table-sm table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Length</th>
                <th scope="col">Downlod</th>
                <th scope="col">Speed</th>
                <th scope="col">Progress %</th>
                <th scope="col">State</th>
                <th scope="col">Remaining</th>
                <th scope="col">Time Left</th>
              </tr>
            </thead>
            <tbody>
            	<ng-container *ngFor="let item of items; index as i">
            		<tr (click)="selectItem(item)"
            			[ngClass]="{'text-dark bg-success shadow p-3 mb-5 rounded': selectedItem===item}">
			        	<td scope="row">{{i+1}}</td>
			        	<td >{{item.filename}}</td>
			        	<td >{{item.rangeInfo.fileLength | lengthUnit:true}}</td>
			        	<td >{{item.rangeInfo.downloadLength | lengthUnit:true}}</td>
			        	<td >{{(item.speedOfTCPReceive) | lengthUnit:isBinary}}/s</td>
			            <td >
			            	<div class="progress">
							  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': itemPercent(item)}" aria-valuenow="0"
								aria-valuemin="0" aria-valuemax="100">
								{{itemPercent(item)}}
								</div>
							</div>
			            </td>
			        	<td >{{item.state | lowercase}}</td>
			        	<td >{{item.rangeInfo.remainingLength | lengthUnit:true}}</td>
			        	<td >{{item.reminningTime}}</td>
		            </tr>
            	</ng-container>
            </tbody>
        </table>
    </div>
</div>
