<h1 mat-dialog-title>Update Download</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Download Link:</mat-label>
    <input [(ngModel)]="item.url" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>File Name:</mat-label>
    <input [(ngModel)]="item.filename" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Save Directory:</mat-label>
    <input [(ngModel)]="item.saveDirectory" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>No Thanks</button>
  <button [mat-dialog-close]="item" cdkFocusInitial mat-button>Ok</button>
</div>
