<!-- <mat-card class="m-1 h-100 w-100">
    <mat-card-header>
        <mat-card-title>{{item.filename}}</mat-card-title>
        <mat-card-subtitle>
            <span>{{itemPercent()}}</span>
            <span>{{item.rangeInfo.downloadLength | unitLength}}</span>
            of
            <span>{{item.rangeInfo.fileLength | unitLength}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <svg [attr.height]="getSvgHeight()" class="w-100 my-2">
        <g>
            <rect *ngFor="let range of item.rangeInfo.range; index as i" [id]="i" width="12" height="12"
                [attr.x]="getX(i)" [attr.y]="getY(i)" [attr.fill]="svgFill(i)"></rect>
        </g>
    </svg>
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="determinate" [value]="itemProgress()"></mat-progress-bar>
    </mat-card-footer>
</mat-card> -->

<div class="card border-info shadow px-2 my-1 bg-white rounded">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col col-md-9">
                        {{item.filename}}
                    </div>
                    <div class="col col-md-auto align-self-end">
                        {{item.rangeInfo.downloadLength | unitLength}} of
                        {{item.rangeInfo.fileLength | unitLength}}
                    </div>
                </div>
                <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': itemPercent()}" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-toolbar" role="toolbar" aria-label="Item Actions">
                    <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Download">
                        <button type="button" class="btn btn-link text-info" (click)="startItem()">
                            <span>
                                <!-- <fa-icon [icon]="faDownload" [size]="'sm'"></fa-icon> -->
                                <mat-icon>cloud_download</mat-icon>
                            </span>
                        </button>
                        <button type="button" class="btn btn-link text-success" (click)="pauseItem()">
                            <span>
                                <!-- <fa-icon [icon]="faPauseCircle" [size]="'sm'"></fa-icon> -->
                                <mat-icon>pause</mat-icon>
                            </span>
                        </button>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Delete">
                        <button type="button" class="btn btn-link text-danger" (click)="deleteItem()">
                            <span>
                                <!-- <fa-icon [icon]="faTrash" [size]="'sm'"></fa-icon> -->
                                <mat-icon>trash</mat-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h5 class="card-title">{{item.state | lowercase}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.saveDirectory}}</h6>
                <p class="card-text">{{item.rangeInfo.downloadLength | unitLength }}</p>
                <div #action>
                    <a href="/items/download/{{item.id}}/{{item.filename}}" *ngIf="item.state === 'COMPLETE'" download
                        class="card-link">
                        Download File from Local Server
                        <span>
                            <!-- <fa-icon [icon]="faCloudDownloadAlt" [size]="'sm'"></fa-icon> -->
                            <mat-icon>cloud_download</mat-icon>
                        </span>
                    </a>

                    <button type="button" class="btn btn-sm btn-outline-info ml-2">
                        Play Video
                        <span>
                            <!-- <fa-icon [icon]="faPlayCircle" [size]="'sm'"></fa-icon> -->
                            <mat-icon>play</mat-icon>
                        </span>
                    </button>
                </div>
                <a href="{{item.url}}" class="card-link">{{item.url}}</a>
                <a href="{{item.redirectUrl}}" *ngIf="item.redirectUrl">{{item.redirectUrl}}</a>
            </div>
            <div class="col-md-4 col-sm-12">
                <mat-progress-bar mode="determinate" [value]="itemProgress()"></mat-progress-bar>
                <!-- <ariia-circular-progress [dataValue]="itemProgress()"> </ariia-circular-progress> -->
            </div>
        </div>
        <div> 1 Pieces x 8 MB Complete</div>
        <svg [attr.height]="getSvgHeight()" class="w-100 mt-2">
            <g>
                <rect *ngFor="let range of item.rangeInfo.range; index as i" [id]="i" width="12" height="12"
                    [attr.x]="getX(i)" [attr.y]="getY(i)" [attr.fill]="svgFill(i)"></rect>
            </g>
        </svg>
    </div>
</div>