.mat-column-select {
  overflow: initial;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

th.mat-sort-header-sorted {
  color: black;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

ul li {
    list-style: none;
}

.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}
