<div class="progress mx-auto" >
  <span class="progress-left">
                <span class="progress-bar" [ngClass]="[borderClass]" [ngStyle]="{'transform': rotateLeft()}"></span>
  </span>
  <span class="progress-right">
                <span class="progress-bar" [ngClass]="[borderClass]" [ngStyle]="{'transform': rotateRight()}"></span>
  </span>
  <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
    <div class="h2 font-weight-bold">{{dataValue}}<sup class="small">%</sup></div>
  </div>
</div>
