.divider {
  height: 10px;
  background-color: limegreen;
}

ul li {
  list-style: none;
}

.log-toolbar {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

.mat-column-timeMillis {
  width: 10%;
  text-align: center;
}

.mat-column-level {
  width: 10%;
  text-align: center;
}

.mat-column-classname {
  width: 15%;
  text-align: center;
}

.mat-column-title {
  width: 15%;
  text-align: center;
}

.mat-column-message {
  width: 50%;
  padding-left: 2px;
}

