<div class="container my-2">
    <div class="border border-info">
        <div class="row">
            <div class="col-md-12">
                <ariia-header></ariia-header>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                <ariia-nav></ariia-nav>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <ariia-footer></ariia-footer>
            </div>
        </div>
    </div>
</div>