<div class="mx-2 my-2" style="max-width: 98%;">
    <div class="border border-dark">
        <div class="row">
            <div class="col-md-12">
                <ariia-header></ariia-header>
            </div>
        </div>
        <div class="row my-2" >
            <div class="col-md-2 position-static vh-100">
                <div class="row">
                    <div class="col-md-2 position-fixed" >
                        <ariia-nav></ariia-nav>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <ariia-footer></ariia-footer>
            </div>
        </div>
    </div>
</div>