<div class="container-fluid">
    <div class="my-1">    
        <div class="row">
            <div class="col-sm-2">
                <ariia-nav></ariia-nav>
            </div>
            <div class="col-sm-10">
                <ariia-header></ariia-header>
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <ariia-footer></ariia-footer>
            </div>
        </div> -->
    </div>
</div>
