<div class="row sticky-top">
	<div class="col-sm-12" >
		<div class="progress" style="height: 2px;">
			<div class="progress-bar" role="progressbar" 
				[ngStyle]="{'width': sessionPercent()}"
				aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
			<!-- <li class="nav-item dropdown">
				<a  class="nav-link dropdown-toggle" href="#" 
				    id="navbarDropdown" role="button" data-toggle="dropdown" 
				    aria-haspopup="true" aria-expanded="false">
				  New Link
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Link with Headers</a>
				  <a class="dropdown-item" href="#">List of Links</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">Meta Links</a>
				</div>
			</li> -->

			<form class="form-inline">
				<div class="input-group">
				  <!-- <div class="input-group-prepend">
				    <span class="input-group-text" id="basic-addon1">@</span>
				  </div> -->
				  <input type="text" class="form-control" placeholder="Add Link" aria-label="Add Link" aria-describedby="basic-addon1">
				  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">+</button>
				</div>
			</form>
		</nav>
	</div>
</div>
