<mat-toolbar aria-label="download-action" role="toolbar">
	<mat-toolbar-row>
		<div fxFlex fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap.sm>
			<ul fxLayout="row" fxLayoutGap.sm>
				<li>
					<mat-form-field>
						<mat-label>Level</mat-label>
						<mat-select [(value)]="level" (selectionChange)="setLevel()">
							<mat-option *ngFor="let level of logLevels" [value]="level">
								{{level}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</li>
				<li>
					<button (click)="clearLogMessages()" mat-icon-button>
						<mat-icon>delete_sweep_outline</mat-icon>
					</button>
				</li>
			</ul>
			<ul fxLayout="row" fxLayoutGap.sm>
				<li>
					<mat-form-field [style.fontSize]="'12px'" appearance="legacy">
						<mat-label>Filter</mat-label>
						<input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search Server Logs">
						<mat-icon matSuffix>search</mat-icon>
					</mat-form-field>
				</li>
			</ul>
		</div>
	</mat-toolbar-row>
</mat-toolbar>

<mat-divider class="divider" ></mat-divider>

<mat-table [dataSource]="dataSource" matSort>

	<!-- Time Millis -->
	<ng-container matColumnDef="timeMillis">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
		<td *matCellDef="let message" mat-cell>{{message.timeMillis|date:'mediumTime'}}</td>
	</ng-container>

	<!-- level-->
	<ng-container matColumnDef="level">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Level</th>
		<td *matCellDef="let message" mat-cell>{{message.level}}</td>
	</ng-container>

	<!--Class Name -->
	<ng-container matColumnDef="classname">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Class Name</th>
		<td *matCellDef="let message" mat-cell>{{message.classname}}</td>
	</ng-container>

	<!-- Title -->
	<ng-container matColumnDef="title">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>
		<td *matCellDef="let message" mat-cell>{{message.title}}</td>
	</ng-container>

	<!-- Message -->
	<ng-container matColumnDef="message">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Message</th>
		<td *matCellDef="let message" mat-cell>{{message.message}}</td>
	</ng-container>

	<!-- Header and Row Declarations -->	
	<tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
	<tr *matRowDef="let message; columns: columnsToDisplay" mat-row></tr>
	
</mat-table>
