<mat-toolbar aria-label="download-action" role="toolbar">
	<mat-toolbar-row>
		<div fxFlex fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap.sm>
			<ul fxLayout="row" fxLayoutGap.sm>
				<li>
					<mat-form-field>
						<mat-label>Level</mat-label>
						<mat-select [(value)]="level" (selectionChange)="setLevel()">
							<mat-option *ngFor="let level of logLevels" [value]="level">
								{{level}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</li>
				<li>
					<button (click)="clearLogMessages()" mat-icon-button>
						<mat-icon>delete_sweep_outline</mat-icon>
					</button>
				</li>
			</ul>
			<ul fxLayout="row" fxLayoutGap.sm>
				<li>
					<mat-form-field [style.fontSize]="'12px'" appearance="legacy">
						<mat-label>Filter</mat-label>
						<input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search Server Logs">
						<mat-icon matSuffix>search</mat-icon>
					</mat-form-field>
				</li>
			</ul>
		</div>
	</mat-toolbar-row>
</mat-toolbar>

<mat-divider class="divider" ></mat-divider>

<mat-table [dataSource]="dataSource" matSort>

	<!-- Time Millis -->
	<ng-container matColumnDef="timeMillis">
		<mat-header-cell *matHeaderCellDef> #</mat-header-cell>
		<mat-cell *matCellDef="let message"> {{message.timeMillis|date:'mediumTime'}} </mat-cell>
	</ng-container>

	<!-- level-->
	<ng-container matColumnDef="level">
		<mat-header-cell *matHeaderCellDef> Level</mat-header-cell>
		<mat-cell *matCellDef="let message"> {{message.level}} </mat-cell>
	</ng-container>

	<!--Class Name -->
	<ng-container matColumnDef="classname">
		<mat-header-cell *matHeaderCellDef> Class Name </mat-header-cell>
		<mat-cell *matCellDef="let message"> {{message.classname}} </mat-cell>
	</ng-container>

	<!-- Title -->
	<ng-container matColumnDef="title">
		<mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
		<mat-cell *matCellDef="let message"> {{message.title}} </mat-cell>
	</ng-container>

	<!-- Message -->
	<ng-container matColumnDef="message">
		<mat-header-cell *matHeaderCellDef> Message</mat-header-cell>
		<mat-cell *matCellDef="let message"> {{message.message}} </mat-cell>
	</ng-container>

	<!-- Header and Row Declarations -->
	<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
	<mat-row *matRowDef="let item; columns: columnsToDisplay"></mat-row>
</mat-table>
