<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search logs">
</mat-form-field>
<mat-table [dataSource]="dataSource">

    <!-- Time Millis -->
    <ng-container matColumnDef="timeMillis">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let message"> {{message.timeMillis|date:'mediumTime'}} </mat-cell>
    </ng-container>

    <!-- level-->
    <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
        <mat-cell *matCellDef="let message"> {{message.level}} </mat-cell>
    </ng-container>

    <!--Class Name -->
    <ng-container matColumnDef="classname">
        <mat-header-cell *matHeaderCellDef> Download Length </mat-header-cell>
        <mat-cell *matCellDef="let message"> {{message.classname}} </mat-cell>
    </ng-container>

    <!-- Title -->
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let message"> {{message.title}} </mat-cell>
    </ng-container>

    <!-- Message -->
    <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef> Message</mat-header-cell>
        <mat-cell *matCellDef="let message"> {{message.message}} </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let item; columns: columnsToDisplay"></mat-row>
</mat-table>
