<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <ul class="nav d-flex flex-column bd-highlight mb-3 align-content-center">
		<span class="navbar-brand ml-4 mb-0 h1">Ariia</span>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/home">
                <span>
                    <fa-icon [icon]="faHome" [size]="'sm'"></fa-icon>
                </span>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/download">
                <span>
                    <fa-icon [icon]="faCloudDownloadAlt" [size]="'sm'"></fa-icon>
                </span>
                Download
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/logview">
                <span>
                    <fa-icon [icon]="faTerminal" [size]="'sm'"></fa-icon>
                </span>
                Logging
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/network">
                <span>
                    <fa-icon [icon]="faWifi" [size]="'sm'"></fa-icon>
                </span>
                Network
            </a>
        </li>
      </ul>
</nav>
