:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer-container {
    height: 100%;
}

// mat-mat-drawer-content {
//     padding: 20px;
// }

mat-drawer {
    width: 250px;
}