<div>
  <div class="container-fluid">
    <ariia-add-link (newID)="getItem($event)" ></ariia-add-link>
  </div>
  <div class="container-fluid">
    <h1>Download List {{downloadList.length}}</h1>
    <ariia-item *ngFor="let item1 of downloadList" [item]="item1"></ariia-item>
  </div>
  <div class="container-fluid">
    <h1>Wating List {{watingList.length}}</h1>
    <ariia-item *ngFor="let item2 of watingList" [item]="item2"></ariia-item>
  </div>
  <div class="container-fluid">
    <h1>Complete List {{completeList.length}}</h1>
    <ariia-item *ngFor="let item3 of completeList" [item]="item3"></ariia-item>
  </div>
</div>
