<mat-list>
  <mat-list-item>
    <div mat-line>Up Time</div>
    <div mat-line>{{session.timer | uptime}}</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Remaining Time</div>
    <div mat-line>{{session.remainingTime | uptime}}</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Total Length:</div>
    <div mat-line>{{session.totalLength | unitLength:isBinary}}</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Download Length</div>
    <div mat-line>{{session.downloadLength | unitLength:isBinary}}</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Remaining Length</div>
    <div mat-line>{{session.remainingLength | unitLength:isBinary}}</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Session State</div>
    <div mat-line>{{session.downloading? 'Downloading':'Ready'}}</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Speed</div>
    <div mat-line>{{session.monitor.tcpDownloadSpeed | unitLength:isBinary}}/s</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Percent</div>
    <div mat-line>{{ sessionPercent() }}</div>
  </mat-list-item>
</mat-list>
