/* You can add global styles to this file, and also import other style files */

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/grid';


html, body { height: 100%; }
body { margin: 0; font-family: "Roboto Mono", Roboto, "Helvetica Neue", sans-serif; }

.mat-column-select {
    overflow: initial;
  }
  
  .divider {
    height: 10px;
    background-color: limegreen;
  }
  
  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  :host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  ul li {
    list-style: none;
  }
  
  .mat-column-select {
    width: 5%;
  }
  
  .mat-column-filename {
    width: 20%;
    padding-left: 2px;
    text-align: center;
    // mat-progress-bar {
    //   height: 10px;
    // }
  }
  
  .mat-column-percent {
    width: 10%;
    padding-left: 2px;
    text-align: center;
  }
  
  .mat-column-fileLength {
    width: 10%;
    padding-left: 2px;
    text-align: center;
  }
  
  .mat-column-downloadLength {
    width: 10%;
    padding-left: 2px;
    text-align: center;
  }
  
  .mat-column-remainingLength {
    width: 10%;
    padding-left: 2px;
    text-align: center;
  }
  
  .mat-column-tcpDownloadSpeed {
    width: 10%;
    padding-left: 2px;
    text-align: center;
  }
  
  .mat-column-remainingTime {
    width: 10%;
    padding-left: 2px;
    text-align: center;
  }
  
  // .mat-column-progress {
  //   width: 10%;
  //   padding-left: 2px;
  //   text-align: center;
  // }
  .mat-column-state {
    width: 10%;
    padding-left: 2px;
    text-align: center;
  }
  
  